
  thead, tfoot {
    background-color: #f8f8f8;
  }
  tr {
    border: 1px solid #ddd;
    padding: 16px 24px;
    text-align: center;
  }
  
  td, th {
    border: 1px solid rgb(0, 0, 0);
    padding: 16px 24px;
    text-align: center;
  }
  
  caption {
    margin-top: 12px;
    caption-side: bottom;
  }
  
  .weekend {
    background-color: #eee;
    width: 12%;
  }
  .first_table{
    margin : auto;
    bottom: 40%;
  }
  .second_table{

    bottom: 50%;
  }